body {
	min-width:1200px;

  font-family:Tahoma, sans-serif;

	color:#000;

	overflow-x:hidden;
}

h1 {
	font-size:36px;
}


.container{
	width:1180px;
	margin:0 auto;
}

.clearfix::after{
	content:"";

	display:table;

	clear:both;
}


/*Header*/


.main-header{
	padding-top:9px;
	padding-bottom: 1px;

	background:url("../img/index-header-bg.png") no-repeat center; 
}

.main-header-container{
	margin-bottom:7px;
}

.main-header-logo{
	width:68px;
	height:66px;
	float:left;

	background:url("../img/header-logo.png") no-repeat;
}

.main-header-contacts{
  width:340px;
  padding-top:13px;
  float:right;

  text-align:right;
}

.header-contacts-col{
	display:inline-block;
	vertical-align:top;

	font-size:16px;
}

.header-contacts-col span{
	display:block;

	font-size:16px;

	color:#fff;
}

.header-contacts-btn{
	padding:8px 29px;
	margin-top:3px;
  margin-left:23px;	
	display:inline-block;
	vertical-align:top;

	font-size:12px;
	text-transform:uppercase;
	text-decoration:none;

	background:#499dcc;
	color:#fff;
	border-radius:5px;
}

.main-navigation{
	margin-bottom:35px;

	background:rgba(21, 79, 111, 0.7);
}

.main-navigation ul {
	padding:0;
	margin:0;

	list-style:none;
}

.main-navigation ul li {
  display:inline-block;
  vertical-align:top;
  position:relative;
}

.main-navigation ul a {
  display:block;
  padding:12px 20px;

  font-size:14px;
  text-transform:uppercase;
  text-decoration:none;

  color:#fff;
}

.main-navigation ul a::after {
  content:"";

  position:absolute;
  top:4px;
  right:0;

  width:1px;
  height:34px;
  display:block;

  background:#fff;

  opacity:0.5;
}

.main-navigation li:last-child a::after{
  display:none;
}

.main-header h1 {
	padding:0;
	margin:0;
	margin-bottom:82px;

	text-align:center;
	text-transform:uppercase;

	color:#fff;
}


/*Главная*/


/*Блок со слайдерами*/


.index-hr-list {
	position:relative;

	padding-top:23px;
	padding-bottom:11px;

  background:url("../img/index-hr-list-bg.png") no-repeat 50% 50%;

  box-shadow:inset 0 5px 9px 0 #585c5f;
}

.index-hr-list::after {
  content:"";

  position:absolute;
  bottom:0;
  left:50%;

  width:1200px;
  height:16px;
  margin-left:-600px;
  display:block;

  background:url("../img/index-hr-list-shadow.png") no-repeat;
}


/*Корусель*/


.owl-prev {
	position: absolute;
  top: 47px;
  left:-7px;

  width:15px;
  height:94px;

  font-size:0;

  background:url("../img/hr-slider-sprite.png") no-repeat -105px -15px;
}

.hr-list-col-right .owl-prev {
  left: 4px;

  background-position:-15px -15px;
}

.owl-next {
	position: absolute;
  top: 47px;
  right: 11px;

  width:15px;
  height:94px;

  font-size:0;

  background:url("../img/hr-slider-sprite.png") no-repeat -150px -15px;
}

.hr-list-col-right .owl-next {
  background-position:-60px -15px;
}

.owl-dots {
	width:180px;
	margin:0 auto;
	margin-top:28px;

	text-align:center;
}

.owl-dot {
	width:11px;
	height:11px;
  margin-right:30px;	
	display:inline-block;
	vertical-align:top;

	background:#828384;
	border-radius:50%;
}

.owl-dot:last-child {
	margin-right:0;
}

.owl-dot.active {
	background:#69a495 ;
}

.hr-list-col-left .owl-dot.active {
	background:#51829e;
}




.vacancy-card {
	width:574px;
	padding-left:16px;
}

.vacancy-card-col-left {
  width:208px;
  height:197px;
  float:left;

  border-right:2px solid #fff;
}

.vacancy-card-col-left img{
  width:100%;
  height:100%;
}

.vacancy-card-col{
  width:300px;
  margin-left:19px;  
  float:left;
}

.hr-list-col-left {
	width:590px;
	float:left;
}

.hr-slider-vacancy-title {
	position:relative;

	width:251px;
	padding:8px 0;
	padding-left:29px;
    margin-bottom:20px;	
	margin-left:14px;

	font-size:20px;
	font-weight:bold;
	text-transform:uppercase;

	background:#004b75;
	color:#fff;
}

.hr-slider-vacancy-title::after {
  content:"";

  position:absolute;
  top:0;
  right:-19px;

  width:19px;
  height:40px;

  background:url("../img/hr-slider-arrow-1.png") no-repeat;
}

.vacancy-card-col h1 {
  padding:0;
  margin:0;
  padding-bottom:8px;

  font-size:14px;
  font-weight:bold;
  text-transform:uppercase;

  color:#004b75;
  border-bottom:1px solid #b9bec2;  
}

.vacancy-card-col p {
  padding:0;
  margin:0;
  margin-top:5px;
  margin-bottom:20px;  

  font-size:12px;

  color:#6d6e6f;
}

.vacancy-card-col h2 {
  padding:0;
  margin:0;
  padding-bottom:8px;
  margin-bottom:6px;

  font-size:12px;
  font-weight:bold;
  text-transform:uppercase;

  color:#004b75;
  border-bottom:1px solid #b9bec2; 
}

.vacancy-card-col span {
  display:block;
  padding-left:6px;

  font-size:12px;

  color:#004b75;
}

.vacancy-card-col i {
  font-style:normal;

  color:#6d6e6f;
}

.vacancy-card-col .vacancy-card-btn {
  width:172px;
  padding:10px 0;
  margin:0 0;
  margin-top:14px;
  margin-left:-4px;  

  font-size:12px;

  background:#fff;
  border:1px solid #004b75;
}

.vacancy-card-col .vacancy-card-btn:hover {
	background:#004b75;
  color:#fff;
}

.hr-list-col-right {
	width:590px;
	float:left;
}

.hr-slider-resume-title {
	position:relative;

	width:251px;
	padding:8px 0;
	padding-left:29px;
	margin-bottom:20px;
	margin-left:25px;

	font-size:20px;
	font-weight:bold;
	text-transform:uppercase;

	background:#3d8b77;
	color:#fff;
}

.hr-slider-resume-title::after {
  content:"";

  position:absolute;
  top:0;
  right:-19px;

  width:19px;
  height:40px;

  background:url("../img/hr-slider-arrow-2.png") no-repeat;
}

.resume-card {
	padding-left:22px;
}

.resume-card img {
  width:208px;
  height:197px;
  float:left;

  border-right:2px solid #fff;
}

.resume-card-col{
  width:300px;
  margin-left:19px;  
  float:left;
}

.resume-card-col h1 {
  padding:0;
  margin:0;
  padding-bottom:8px;

  font-size:14px;
  font-weight:bold;
  text-transform:uppercase;

  color:#3d8b77;
  border-bottom:1px solid #b9bec2;
}

.resume-card-col p {
  padding:0;
  margin:0;
  margin-top:5px;
  margin-bottom:20px;  

  font-size:12px;

  color:#6d6e6f;
}

.resume-card-col h2 {
  padding:0;
  margin:0;
  padding-bottom:8px;
  margin-bottom:6px;

  font-size:12px;
  font-weight:bold;
  text-transform:uppercase;

  color:#3d8b77;
  border-bottom:1px solid #b9bec2; 
}

.resume-card-col span {
  display:block;
  padding-left:6px;

  font-size:12px;

  color:#3d8b77;
}

.resume-card-col i {
  font-style:normal;

  color:#6d6e6f;
}

.resume-card-col .resume-card-btn {
  width:172px;
  padding:10px 0;  
  margin:0 0;
  margin-top:14px;
  margin-left:-4px;  

  font-size:12px;

  background:#fff;
  color:#3d8b77;
  border:1px solid #3d8b77;
}

.resume-card-col .resume-card-btn:hover {
	background:#3d8b77;
  color:#fff;
}


/*Промоблок*/


.index-promo-block {
	padding-top:37px;
	padding-bottom:42px;

  background:#ebebeb;
}

.promo-block-title {
	font-size:30px;
	font-weight:bold;
	text-align:center;
	text-transform:uppercase;

	color:#144e70;
}

.promo-block-title span {
	font-weight:normal;
}

.index-promo-block p {
	width:263px;
	padding-left:37px;
	margin:0 0;
	margin-top:36px;
	margin-right:140px;
	display:inline-block;
	vertical-align:top;

	font-size:50px;
	font-weight:bold;

	color:#0470ab;
}

.index-promo-block p:nth-of-type(4),
.index-promo-block p:nth-of-type(5),
.index-promo-block p:nth-of-type(6) {
  margin-top:31px;
}

.index-promo-block p:nth-of-type(3n) {
  width:193px;
  margin-right:0;
  color:#1f7f96;
  padding-left:88px;
}

.index-promo-block p:nth-of-type(3n-1) {
	width:250px;
  padding-left:42px;
  color:#1f7f96;
}

.index-promo-block p span {
	margin-top:10px;
  margin-left:2%;
  display:block;

  font-size:16px;
  font-weight:700;
  text-transform:uppercase;

  color:#767777;
}


/*Блок преимуществ*/


.index-features-block {
  position:relative;

	padding:1px 40px;
	margin-bottom:76px;

	background:url("../img/index-features-block-bg.png") no-repeat center;
}

.index-features-block::after {
  content:"";

  position:absolute;
  top:0;
  left:50%;

  width:1200px;
  height:16px;
  margin-left:-600px;
  display:block;

  background:url("../img/index-hr-list-shadow-2.png") no-repeat;
}

.features-block-title {
	margin-top:40px;
	margin-bottom:37px;

	font-size:30px;
	font-weight:bold;
	text-align:center;
	text-transform:uppercase;

	color:#004b75;
}

.features-block-col-left {
	width:560px;
	margin-right:173px;
	float:left;
}

.features-list {
	padding:0;
	margin:0;

	list-style:none;
}

.features-list li {
	position:relative;

	padding-left:140px;
	margin-bottom:54px;

	font-size:18px;
	font-weight:bold;

	color:#004b75;
}

.features-list li:last-child {
  margin-bottom:0;
}

.features-list li::before {
	content:"";

	position:absolute;
	top:-5px;
  left:40px;

	width:60px;
	height:80px;
	display:block;

	background:url("../img/index-features-sprite.png") no-repeat -15px -8px;
}

.features-list li:nth-child(2)::before {
	background-position:-15px -89px;
}

.features-list li:nth-child(3)::before {
	top:-18px;

	background-position:-15px -188px;
}

.features-list li:nth-child(4)::before {
  top:-25px; 

	background-position:-15px -280px;
}

.features-list li:nth-child(5)::before {
  top:-13px;

	background-position:-15px -364px;
}

.features-block-col-right {
	width:410px;
  margin-top:7px;	
	float:left;
}

.index-features-form {
	width:346px;
	padding-top:31px;
	padding-bottom:18px;
	padding-right:29px;
	padding-left:31px;

	text-align:center;

	background:#004b75;
	border-radius:5px;
}

.features-form-title {
	padding-bottom:11px;
	margin-bottom:9px;

	font-size:18px;
	font-weight:bold;
	text-transform:uppercase;

	color:#fff;
	border-bottom:1px solid #85a9bd;
}

.index-features-form p {
	padding:0;
	margin:0;
	margin-bottom:37px;

	font-size:14px;

  color:#dcd9d9;
}

.index-features-form input {
	width:100%;
	padding:8px 10px;
	margin-bottom:30px;

	border:none;
	outline:none;
	border-radius:5px;

	box-sizing:border-box;
}

.index-features-form input:last-of-type {
	margin-bottom:16px;
}

.index-features-form button {
	width:145px;
  padding:11px 0;
	margin:0 auto;
	display:inline-block;
	vertical-align:top;

	font-size:16px;
	text-transform:uppercase;

	background:#5788a4;
	color:#fff;
	border:2px solid #fff;
}


/*Блок полезных статей*/


.index-articles-block {
	margin-bottom:66px;
}

.articles-block-title {
	margin-bottom:50px;

  font-size:30px;
  text-align:center;
  font-weight:bold;
  text-transform:uppercase;

  color:#004b75;
}

.articles-block-title span {
	display:block;

	font-size:25px;
}

.articles-block-item {
  width:360px;
  margin-bottom:39px;
  display:inline-block;
  vertical-align:top;
  margin-right:50px;
}


.articles-block-item:nth-of-type(3n) {
	margin-right:0;
}

.articles-block-item img {
	width:360px;
	height:229px;
	margin-bottom:15px;
}

.article-block-title {
	padding-right:150px;
  padding-left:3px;	
	padding-bottom:5px;

	font-size:16px;
	font-weight:bold;
	text-transform:uppercase;

	color:#004b75;

	border-bottom:1px solid #e5e5e6;
}

.article-block-title a {
  color:#004b75;
  text-decoration:none;
}

.articles-block-item p {
	padding-right:45px;
  padding-left:3px;	
	margin:0;
	margin-top:5px;

  font-size:14px;

  color:#000;
}

.btn {
	width:226px;
	margin:0 auto;
	padding:13px 0;
	display:block;

	font-size:18px;
	font-weight:bold;
	text-transform:uppercase;
	text-align:center;
	text-decoration:none;

	color:#004b75;
	border:2px solid #004b75;
}

.index-articles-block .article-btn:hover{
	background:#004b75;
  color:#fff;
}





/*Контакты*/


.contacts-main-header {
  position:relative;
  z-index:10;

	background:rgba(0, 0, 0, 0.5);
}

.contacts-main-header .main-navigation {
  position: relative;	
  z-index: 10;

	margin-bottom:-20px;

	background:#004b75;
	opacity:1;   
}

.map {
	position:relative;

	width:100%;
  height:600px;
}

.map-canvas {
	position:absolute;
	top:-103px;

  width:2000px;
  height:700px;

  background:#999;
}

.map-content {
	position:absolute;
	bottom:0;

	width:100%;
	margin:0 auto;

	background:rgba(255, 255, 255, 0.8);
}

.map-content-container {
  width:780px; 
  padding-top:37px;
  padding-bottom:50px;
  margin:0 auto;
}

.map-content-col-1 {
	width:199px;
	padding-left:21px;
  margin-right:100px;	
	float:left;
}

.map-content-col-1 span {
	position:relative;

	margin-bottom:36px;
	display:inline-block;
	vertical-align:bottom;

	font-size:18px;
	line-height:23px;

	color:#6a6868;
}

.map-content-col-1 span:nth-of-type(1)::after {
	content:"";

	position:absolute;
	top:0;
	left:-41px;

	width:22px;
	height:28px;

	background:url("../img/contacts-sprite.png") no-repeat -65px -15px;
}

.map-content-col-1 span:nth-of-type(3)::after {
	content:"";

	position:absolute;
	top:0;
	left:-41px;

	width:22px;
	height:28px;

	background:url("../img/contacts-sprite.png") no-repeat -15px -15px;
}

.map-content-col-1 span:last-child {
	margin-bottom:0;
}

.map-content-col-1 span:nth-child(odd) {
	margin-bottom:5px;
  display:block;

  font-size:18px;
  font-weight:bold;
  text-transform:uppercase;

  color:#004b75;
}

.map-content-col-2 {
	width:420px;
  padding-bottom:13px;	
	padding-left:20px;
	float:left;
}

.map-form-title {
	font-size:18px;
	line-height:23px;
	font-weight:bold;
	text-transform:uppercase;

	color:#004b75;
}

.map-form-container {
	width:254px;
	margin-right:21px;
	display:inline-block;
	vertical-align:bottom;
}

.map-form-container input {
	width:100%;
	padding:0 10px;
	padding-top:2px;
	margin:0;
	margin-bottom:7px;
  display:block;	
	
	background:#f0f0f0;
	border:1px solid #c7c6c5;
	border-radius:5px;

	box-sizing:border-box;
}

::-webkit-input-placeholder {font-size:12px; vertical-align:middle;}
::-moz-placeholder          {font-size:12px; vertical-align:middle;}/* Firefox 19+ */
:-moz-placeholder           {font-size:12px; vertical-align:middle;}/* Firefox 18- */
:-ms-input-placeholder      {font-size:12px; vertical-align:middle;}

.map-form-container input:first-of-type {
  margin-top:6px;
}

.map-form-container input:focus {
	border:1px solid #004b75;
	border-radius:5px;
  outline:none;
}

.map-form-container textarea {
	width:100%;
	height:115px;
	padding:10px;
	margin:0;
	
	background:#f0f0f0;
	border:1px solid #c7c6c5;
	border-radius:5px;

	box-sizing:border-box;
}

.map-form-container textarea:focus {
	border:1px solid #004b75;
	border-radius:5px;
  outline:none;
}

.map-form-btn {
	width:140px;
	padding:5px 0;
  margin-bottom:3px;	
	display:inline-block;
	vertical-align:bottom;

	font-size:16px;
	line-height:23px;
	font-weight:normal;

	background:transparent;
}


/*Footer*/


.main-footer {
	position:relative;

	padding-top:19px;
	padding-bottom:40px;
	padding-right:33px;

	background:#004b75;
}

.main-footer ul {
	padding:0;
	margin:0;
	list-style:none;
}

.main-footer::before {
	content:"";

	position:absolute;
	top:-15px;

  width:100%;
	height:17px;
	display:block;

	background:url("../img/main-footer-bg-dec.png") no-repeat center;
}

.main-footer-logo {
	width:61px;
	height:59px;
  margin-top:13px;
	margin-right:60px;
	margin-left:16px;
	display:inline-block;
	vertical-align:top;

	background:url("../img/footer-logo.png") no-repeat;
}

.footer-navigation-title{
	padding-top:5px;
	margin-bottom:10px;

	border-bottom:1px solid #80a5ba;
}

.footer-navigation-title,
.footer-navigation-2 li {
	padding-bottom:2px;

	font-size:18px;
	line-height:30px;
	font-weight:bold;
	text-transform:uppercase;

	color:#fff;
}

.footer-navigation-2 li{
	padding-bottom:0;
}

.footer-navigation-col-1 {
	width:290px;
	display:inline-block;
	vertical-align:top;
	margin-right:30px;
}

.footer-navigation-1 {
	width:132px;
  display:inline-block;
  vertical-align:top;
}

.footer-navigation-1:last-child {
  width:133px;
  margin-left:25px;
}

.footer-navigation-col-2 {
	width:220px;
	display:inline-block;
	vertical-align:top;
	margin-right:39px;
}

.footer-navigation-col-2 .footer-navigation-1 {
	width:100%;
	margin-left:0;
}

.footer-navigation-col-3 {
	width:200px;
	display:inline-block;
	vertical-align:top;
	padding-top:5px;
	margin-right:30px;
}

.footer-navigation-col-1 li,
.footer-navigation-col-2 li {
	margin-bottom:15px;

	font-size:14px;
	line-height:16px;

	color:#dad9d9;
}

.main-footer-contacts {
	width:173px;
	padding-left:45px;
	margin-top:36px;
	display:inline-block;
	vertical-align:top;
}

.footer-contacts-number {
	margin-bottom:6px;

  font-size:18px;
  line-height:30px;
  font-weight:bold;

  color:#fff;
}

.main-footer-btn {
	display:block;
	padding:2px 12px;
	margin-bottom:36px;

	font-size:14px;
  line-height:30px;
  text-transform:uppercase;
  font-weight:bold;
  text-decoration:none;

  background:#6b97af;
  color:#fff;
  border:2px solid #fff;
}

.footer-social-btn {
	width:39px;
	height:39px;
	display:inline-block;

	background:#0f83ce url("../img/footer-social-sprite.png") no-repeat;
	border-radius:50%;
}

.social-btn-vk {
	background-position:-13px -15px;
}

.social-btn-odnoklassniki {
	background-position:-83px -15px;
}

.social-btn-twitter {
	background-position:-152px -15px;
}

.social-btn-fb {
	background-position:-221px -15px;
}












