body {
	min-width:1200px;

  font-family:Tahoma, sans-serif;

	color:#000;

	overflow-x:hidden;
}

h1 {
	font-size:36px;
}


.container{
	width:1180px;
	margin:0 auto;
}

.clearfix::after{
	content:"";

	display:table;

	clear:both;
}


/*Header*/


.main-header{
	padding-bottom: 1px;

	background:url("../img/index-header-bg.png") no-repeat center; 
}

.main-header-big-container {
  position:relative;
  z-index:10;

  padding-top:9px;

  background:rgba(0, 0, 0, 0.5);}

.main-header-container{
	margin-bottom:7px;
}

.main-header-logo{
	width:68px;
	height:66px;
	float:left;

	background:url("../img/header-logo.png") no-repeat;
}

.main-header-contacts{
  width:340px;
  padding-top:13px;
  float:right;

  text-align:right;
}

.header-contacts-col{
	display:inline-block;
	vertical-align:top;

	font-size:16px;
}

.header-contacts-col span{
	display:block;

	font-size:16px;

	color:#fff;
}

.header-contacts-btn{
	padding:8px 29px;
	margin-top:3px;
  margin-left:23px;	
	display:inline-block;
	vertical-align:top;

	font-size:12px;
	text-transform:uppercase;
	text-decoration:none;

	background:#499dcc;
	color:#fff;
	border-radius:5px;
}

.main-navigation{
	margin-bottom:35px;

	background:rgba(21, 79, 111, 0.7);
}

.main-navigation ul {
	padding:0;
	margin:0;

	list-style:none;
}

.main-navigation ul li {
  display:inline-block;
  vertical-align:top;
  position:relative;
}

.main-navigation ul a {
  display:block;
  padding:12px 20px;

  font-size:14px;
  text-transform:uppercase;
  text-decoration:none;

  color:#fff;
}

.main-navigation ul a::after {
  content:"";

  position:absolute;
  top:4px;
  right:0;

  width:1px;
  height:34px;
  display:block;

  background:#fff;

  opacity:0.5;
}

.main-navigation li:last-child a::after{
  display:none;
}

.main-header h1 {
	padding:0;
	margin:0;
	margin-bottom:82px;

	text-align:center;
	text-transform:uppercase;

	color:#fff;
}




/*Главная*/


/*Блок со слайдерами*/


.index-hr-list {
	position:relative;

	padding-top:23px;
	padding-bottom:11px;

  background:url("../img/index-hr-list-bg.png") no-repeat 50% 50%;

  box-shadow:inset 0 5px 9px 0 #585c5f;
}

.index-hr-list::after {
  content:"";

  position:absolute;
  bottom:0;
  left:50%;

  width:1200px;
  height:16px;
  margin-left:-600px;
  display:block;

  background:url("../img/index-hr-list-shadow.png") no-repeat;
}


/*Карусель*/


.owl-prev {
	position: absolute;
  top: 47px;
  left:-7px;

  width:15px;
  height:94px;

  font-size:0;

  background:url("../img/hr-slider-sprite.png") no-repeat -105px -15px;
}

.hr-list-col-right .owl-prev {
  left: 4px;

  background-position:-15px -15px;
}

.owl-next {
	position: absolute;
  top: 47px;
  right: 11px;

  width:15px;
  height:94px;

  font-size:0;

  background:url("../img/hr-slider-sprite.png") no-repeat -150px -15px;
}

.hr-list-col-right .owl-next {
  background-position:-60px -15px;
}

.owl-dots {
	width:180px;
	margin:0 auto;
	margin-top:28px;

	text-align:center;
}

.owl-dot {
	width:11px;
	height:11px;
  margin-right:30px;	
	display:inline-block;
	vertical-align:top;

	background:#828384;
	border-radius:50%;
}

.owl-dot:last-child {
	margin-right:0;
}

.owl-dot.active {
	background:#69a495 ;
}

.hr-list-col-left .owl-dot.active {
	background:#51829e;
}

.vacancy-card {
	width:574px;
	padding-left:16px;
}

.vacancy-card-col-left {
  width:208px;
  height:197px;
  float:left;

  border-right:2px solid #fff;
}

.vacancy-card-col-left img{
  width:100%;
  height:100%;
}

.vacancy-card-col{
  width:300px;
  margin-left:19px;  
  float:left;
}

.hr-list-col-left {
	width:590px;
	float:left;
}

.hr-slider-vacancy-title {
	position:relative;

	width:251px;
	padding:8px 0;
	padding-left:29px;
  margin-bottom:20px;	
	margin-left:14px;
	display:block;

	font-size:20px;
	font-weight:bold;
	text-transform:uppercase;
	text-decoration:none;

	background:#004b75;
	color:#fff;
}

.hr-slider-vacancy-title::after {
  content:"";

  position:absolute;
  top:0;
  right:-19px;

  width:19px;
  height:40px;

  background:url("../img/hr-slider-arrow-1.png") no-repeat;
}

.vacancy-card-col h1 {
  padding:0;
  margin:0;
  padding-bottom:8px;

  font-size:14px;
  font-weight:bold;
  text-transform:uppercase;

  color:#004b75;
  border-bottom:1px solid #b9bec2;  
}

.vacancy-card-col p {
  padding:0;
  margin:0;
  margin-top:5px;
  margin-bottom:20px;  

  font-size:12px;

  color:#6d6e6f;
}

.vacancy-card-col h2 {
  padding:0;
  margin:0;
  padding-bottom:8px;
  margin-bottom:6px;

  font-size:12px;
  font-weight:bold;
  text-transform:uppercase;

  color:#004b75;
  border-bottom:1px solid #b9bec2; 
}

.vacancy-card-col span {
  display:block;
  padding-left:6px;

  font-size:12px;

  color:#004b75;
}

.vacancy-card-col i {
  font-style:normal;

  color:#6d6e6f;
}

.vacancy-card-col .vacancy-card-btn {
  width:172px;
  padding:10px 0;
  margin:0 0;
  margin-top:14px;
  margin-left:-4px;  

  font-size:12px;

  background:#fff;
  border:1px solid #004b75;
}

.vacancy-card-col .vacancy-card-btn:hover {
	background:#004b75;
  color:#fff;
}

.hr-list-col-right {
	width:590px;
	float:left;
}

.hr-slider-resume-title {
	position:relative;

	width:251px;
	padding:8px 0;
	padding-left:29px;
	margin-bottom:20px;
	margin-left:25px;
	display:block;

	font-size:20px;
	font-weight:bold;
	text-transform:uppercase;
	text-decoration:none;

	background:#3d8b77;
	color:#fff;
}

.hr-slider-resume-title::after {
  content:"";

  position:absolute;
  top:0;
  right:-20px;

  width:20px;
  height:40px;

  background:url("../img/hr-slider-arrow-2.png") no-repeat;
}

.resume-card {
	padding-left:22px;
}

.resume-card img {
  width:208px;
  height:197px;
  float:left;

  border-right:2px solid #fff;
}

.resume-card-col{
  width:300px;
  margin-left:19px;  
  float:left;
}

.resume-card-col h1 {
  padding:0;
  margin:0;
  padding-bottom:8px;

  font-size:14px;
  font-weight:bold;
  text-transform:uppercase;

  color:#3d8b77;
  border-bottom:1px solid #b9bec2;
}

.resume-card-col p {
  padding:0;
  margin:0;
  margin-top:5px;
  margin-bottom:20px;  

  font-size:12px;

  color:#6d6e6f;
}

.resume-card-col h2 {
  padding:0;
  margin:0;
  padding-bottom:8px;
  margin-bottom:6px;

  font-size:12px;
  font-weight:bold;
  text-transform:uppercase;

  color:#3d8b77;
  border-bottom:1px solid #b9bec2; 
}

.resume-card-col span {
  display:block;
  padding-left:6px;

  font-size:12px;

  color:#3d8b77;
}

.resume-card-col i {
  font-style:normal;

  color:#6d6e6f;
}

.resume-card-col .resume-card-btn {
  width:172px;
  padding:10px 0;  
  margin:0 0;
  margin-top:14px;
  margin-left:-4px;  

  font-size:12px;

  background:#fff;
  color:#3d8b77;
  border:1px solid #3d8b77;
}

.resume-card-col .resume-card-btn:hover {
	background:#3d8b77;
  color:#fff;
}


/*Промоблок*/


.index-promo-block {
	padding-top:37px;
	padding-bottom:42px;

  background:#ebebeb;
}

.promo-block-title {
	font-size:30px;
	font-weight:bold;
	text-align:center;
	text-transform:uppercase;

	color:#144e70;
}

.promo-block-title span {
	font-weight:normal;
}

.index-promo-block p {
	width:263px;
	padding-left:37px;
	margin:0 0;
	margin-top:36px;
	margin-right:140px;
	display:inline-block;
	vertical-align:top;

	font-size:50px;
	font-weight:bold;

	color:#0470ab;

	animation:index-promo-block 1.5s;
	animation-fill-mode:both;
	/*animation-timing-function:ease-in-out;*/
}

@keyframes index-promo-block{
	0% {
		opacity:0;
	}

	100% {
		opacity:1;
	}
}

.index-promo-block p:nth-of-type(2){
  animation-delay:0.5s;
}

.index-promo-block p:nth-of-type(3){
  animation-delay:1s;
}

.index-promo-block p:nth-of-type(4){
  animation-delay:1.5s;
}

.index-promo-block p:nth-of-type(5){
  animation-delay:2s;
}

.index-promo-block p:nth-of-type(6){
  animation-delay:2.5s;
}

.index-promo-block p:nth-of-type(4),
.index-promo-block p:nth-of-type(5),
.index-promo-block p:nth-of-type(6) {
  margin-top:31px;
}

.index-promo-block p:nth-of-type(3n) {
  width:193px;
  margin-right:0;
  color:#1f7f96;
  padding-left:88px;
}

.index-promo-block p:nth-of-type(3n-1) {
	width:250px;
  padding-left:42px;
  color:#1f7f96;
}

.index-promo-block p span {
	margin-top:10px;
  margin-left:2%;
  display:block;

  font-size:16px;
  font-weight:700;
  text-transform:uppercase;

  color:#767777;
}


/*Блок преимуществ*/


.index-features-block {
  position:relative;

	padding:1px 40px;
	margin-bottom:76px;

	background:url("../img/index-features-block-bg.png") no-repeat center;
}

.index-features-block::after {
  content:"";

  position:absolute;
  top:0;
  left:50%;

  width:1200px;
  height:16px;
  margin-left:-600px;
  display:block;

  background:url("../img/index-hr-list-shadow-2.png") no-repeat;
}

.features-block-title {
	margin-top:40px;
	margin-bottom:37px;

	font-size:30px;
	font-weight:bold;
	text-align:center;
	text-transform:uppercase;

	color:#004b75;
}

.features-block-col-left {
	width:560px;
	margin-right:173px;
	float:left;
}

.features-list {
	padding:0;
	margin:0;

	list-style:none;
}

.features-list li {
	position:relative;

	padding-left:140px;
	margin-bottom:54px;

	font-size:18px;
	font-weight:bold;

	color:#004b75;
}

.features-list li:last-child {
  margin-bottom:0;
}

.features-list li::before {
	content:"";

	position:absolute;
	top:-5px;
  left:40px;

	width:60px;
	height:80px;
	display:block;

	background:url("../img/index-features-sprite.png") no-repeat -15px -8px;
}

.features-list li:nth-child(2)::before {
	background-position:-15px -89px;
}

.features-list li:nth-child(3)::before {
	top:-18px;

	background-position:-15px -188px;
}

.features-list li:nth-child(4)::before {
  top:-25px; 

	background-position:-15px -280px;
}

.features-list li:nth-child(5)::before {
  top:-13px;

	background-position:-15px -364px;
}

.features-block-col-right {
	width:410px;
  margin-top:7px;	
	float:left;
}

.index-features-form {
	width:346px;
	padding-top:31px;
	padding-bottom:18px;
	padding-right:29px;
	padding-left:31px;

	text-align:center;

	background:#004b75;
	border-radius:5px;
}

.features-form-title {
	padding-bottom:11px;
	margin-bottom:9px;

	font-size:18px;
	font-weight:bold;
	text-transform:uppercase;

	color:#fff;
	border-bottom:1px solid #85a9bd;
}

.index-features-form p {
	padding:0;
	margin:0;
	margin-bottom:37px;

	font-size:14px;

  color:#dcd9d9;
}

.index-features-form input {
	width:100%;
	padding:8px 10px;
	margin-bottom:30px;

	border:none;
	outline:none;
	border-radius:5px;

	box-sizing:border-box;
}

.index-features-form input:last-of-type {
	margin-bottom:16px;
}

.index-features-form button {
	width:145px;
  padding:11px 0;
	margin:0 auto;
	display:inline-block;
	vertical-align:top;

	font-size:16px;
	text-transform:uppercase;

	background:#5788a4;
	color:#fff;
	border:2px solid #fff;
}


/*Блок полезных статей*/


.index-articles-block {
	margin-bottom:66px;

	text-align:center;
}

.articles-block-title {
	margin-bottom:50px;

  font-size:30px;
  text-align:center;
  font-weight:bold;
  text-transform:uppercase;

  color:#004b75;
}

.articles-block-title span {
	display:block;

	font-size:25px;
}

.articles-block-item {
  width:360px;
  margin-bottom:39px;
  display:inline-block;
  vertical-align:top;
  margin-right:50px;
}


.articles-block-item:nth-of-type(3n) {
	margin-right:0;
}

.articles-block-item img {
	width:360px;
	height:229px;
	margin-bottom:15px;
}

.article-block-title {
	padding-right:150px;
  padding-left:3px;	
	padding-bottom:5px;

	font-size:16px;
	font-weight:bold;
	text-transform:uppercase;

	color:#004b75;

	border-bottom:1px solid #e5e5e6;
}

.article-block-title a {
  color:#004b75;
  text-decoration:none;
}

.articles-block-item p {
	padding-right:45px;
  padding-left:3px;	
	margin:0;
	margin-top:5px;

  font-size:14px;

  color:#000;
}

.btn {
	width:226px;
	margin:0 auto;
	padding:13px 0;
	display:inline-block;
	vertical-align:top;

	font-size:18px;
	font-weight:bold;
	text-transform:uppercase;
	text-align:center;
	text-decoration:none;
	word-wrap:normal;

	color:#004b75;
	border:2px solid #004b75;
}

.index-articles-block .article-btn:hover{
	background:#004b75;
  color:#fff;
}




/*Контакты*/


.inner-page-header {
  position:relative;
  z-index:10;

	background:rgba(0, 0, 0, 0.5);
}

.inner-page-header .main-navigation {
  position: relative;	
  z-index: 10;

	margin-bottom:-20px;

	background:#004b75;
	opacity:1;   
}

.map {
	position:relative;

	width:100%;
  height:600px;
}

.map-canvas {
	position:absolute;
	top:-103px;

  width:2000px;
  height:700px;

  background:#999;
}

.map-content {
	position:absolute;
	bottom:0;

	width:100%;
	margin:0 auto;

	background:rgba(255, 255, 255, 0.8);
}

.map-content-container {
  width:780px; 
  padding-top:37px;
  padding-bottom:50px;
  margin:0 auto;
}

.map-content-col-1 {
	width:199px;
	padding-left:21px;
  margin-right:100px;	
	float:left;
}

.map-content-col-1 span {
	position:relative;

	margin-bottom:36px;
	display:inline-block;
	vertical-align:bottom;

	font-size:18px;
	line-height:23px;

	color:#6a6868;
}

.map-content-col-1 span:nth-of-type(1)::after {
	content:"";

	position:absolute;
	top:0;
	left:-41px;

	width:22px;
	height:28px;

	background:url("../img/contacts-sprite.png") no-repeat -65px -15px;
}

.map-content-col-1 span:nth-of-type(3)::after {
	content:"";

	position:absolute;
	top:0;
	left:-41px;

	width:22px;
	height:28px;

	background:url("../img/contacts-sprite.png") no-repeat -15px -15px;
}

.map-content-col-1 span:last-child {
	margin-bottom:0;
}

.map-content-col-1 span:nth-child(odd) {
	margin-bottom:5px;
  display:block;

  font-size:18px;
  font-weight:bold;
  text-transform:uppercase;

  color:#004b75;
}

.map-content-col-2 {
	width:420px;
  padding-bottom:13px;	
	padding-left:20px;
	float:left;
}

.map-form-title {
	font-size:18px;
	line-height:23px;
	font-weight:bold;
	text-transform:uppercase;

	color:#004b75;
}

.map-form-container {
	width:254px;
	margin-right:21px;
	display:inline-block;
	vertical-align:bottom;
}

.map-form-container input {
	width:100%;
	padding:4px 10px;
	margin:0;
	margin-bottom:7px;
  display:block;	

  font-size:12px;
	
	background:#f0f0f0;
	border:1px solid #c7c6c5;
	border-radius:5px;

	box-sizing:border-box;
}

.map-form-container input:first-of-type {
  margin-top:6px;
}

.map-form-container input:focus {
	border:1px solid #004b75;
	border-radius:5px;
  outline:none;
}

.map-form-container textarea {
	width:100%;
	height:115px;
	padding:10px;
	margin:0;

	font-size:12px;
	
	background:#f0f0f0;
	border:1px solid #c7c6c5;
	border-radius:5px;

	box-sizing:border-box;
}

.map-form-container textarea:focus {
	border:1px solid #004b75;
	border-radius:5px;
  outline:none;
}

.map-form-btn {
	width:140px;
	padding:5px 0;
  margin-bottom:3px;	
	display:inline-block;
	vertical-align:bottom;

	font-size:16px;
	line-height:23px;
	font-weight:normal;

	background:transparent;
}




/*Для работодателя*/


.employers-navigation-block  h1 {
  position:relative;
  z-index:10;

	padding:0;
	margin:0;
	margin-bottom:38px;

	font-size:30px;
	font-weight:normal;
	text-align:center;
	text-transform:uppercase;

	color:#004b75;
}

.for-employers-row {
	margin-left:-20px;
}

.employers-navigation-block {
  padding-top:58px;
  padding-bottom:23px;

  position:relative;
}

.employers-navigation-block::before{
	content:"";

	position:absolute;
	bottom:0;
	left:0;

	width:100%;
	height:469px;
  display:block;

  z-index:1;

  background:url("../img/for-employers-header-bg.png") no-repeat center;
}

.for-employers-navigation {
	padding:0;
	margin:0;
	list-style:none;

	font-size:0;
	text-align:center;
}

.for-employers-navigation li {
	padding:0;
	margin:0;
	display:inline-block;
	vertical-align:top;

	font-size:18px;
}

.for-employers-navigation a {
  position:relative;
  z-index:10;

  width:272px;
  padding:17px 0;  
  margin-left:20px;
  margin-bottom:19px;
  display:block;

  font-size:18px;
  text-transform:uppercase;
  text-align:center;
  text-decoration:none;

  color:#004b75;
  border:4px solid #004b75;
}

.for-employers-navigation a:hover {
	background:#fff;

	transition:all 0.5s;
}

.for-employers-navigation a:active {
	background:#004b75;
	color:#fff;

	transition:none;
}

.for-employers-navigation li:nth-child(6) a,
.for-employers-navigation li:nth-child(7) a {
  padding:28px 0;
}

.for-employers-content {
	padding-top:27px;
	padding-bottom:9px;
}

.for-employers-content h1 {
	padding:0;
	margin:0;
	margin-bottom:29px;

	font-size:30px;
	font-weight:normal;
	text-align:center;
	text-transform:uppercase;

	color:#004b75;
}

.for-employers-content input[type="search"] {
	width:759px;
	padding:7px 10px;
	margin-bottom:41px;
	box-sizing:border-box;
	display:inline-block;
	vertical-align:top;

	border:1px solid #b2b2b2;
	border-radius:5px 0 0 5px;
}

.for-employers-content input[type="search"]:focus {
	border:1px solid #004b75;
	outline:none;
}

.for-employers-content button {
	display:inline-block;
	vertical-align:top;
}

.search-btn {
	position:relative;

	width:61px;
	height:35px;
	margin-right:60px;

	background:#004b75;

	border:none;
	border-radius:0 5px 5px 0;
	outline:none;
}

.search-btn::after {
	content:"";

	position:absolute;
	top:7px;
	right:19px;

	width:23px;
	height:23px;

	background:url("../img/search-resume-icon.png") no-repeat;
}

.advanced-search-button {
	position:relative;

  width:300px;
  padding:12px 0;
  padding-bottom:11px;

  font-size:16px;
  text-transform:uppercase;

	background:#004b75 url("../img/advanced-search-icon.png") no-repeat 255px 18px;
	color:#fff;
	border:none;
	border-radius:5px;
	outline:none;
}

.advanced-search-button-open {
  padding-bottom:18px;

	color:#fff;
	border-radius:5px 5px 0 0;

	background:#ebe7e7 url("../img/advanced-search-icon-2.png") no-repeat 255px 18px;
}

.employers-catalog-row {
	padding-bottom:6px;
	margin-bottom:16px;

	border-bottom:2px solid #004b75;
}

.employers-catalog-row .resume-number {
	font-size:15px;

	color:#505050;
}

.resume-number span {
  font-size:15px;
  font-weight:bold;

  color:#004b75;
}

.employers-catalog-card {
  position:relative;

	width:580px;
	margin-bottom:19px;
	margin-left:20px;
	display:inline-block;
	vertical-align:top;
  word-break:break-word;	

	background:#f2f2f2;
}

.employers-catalog-card h1 {
  padding:9px 0;
  padding-bottom:10px;
  padding-left:207px;
  margin:0;
  margin-bottom:10px;

  font-size:18px;
  text-transform:none;
  text-align:left;

  background:#b9b9b9;
  color:#fff;
}

.catalog-card-container {
	padding-bottom:4px;
	padding-left:207px;

	background:#f2f2f2;
}

.catalog-card-image {
  position:absolute;
  top:20px;
  left:18px;

	width:160px;
	height:160px;
	display:block;
}

.catalog-card-image::after {
	content:"";

	position:absolute;
	bottom:-7px;
  left:-9px;

	width:178px;
	height:74px;

	background:url("../img/catalog-image-shadow.png") no-repeat;
}

.employers-catalog-card span {
  display:block;

  font-size:14px;

  color:#004b75;
}

.employers-catalog-card span > span {
  display:inline;

  color:#3c3c3c;
}

.specialty {
	margin-bottom:15px;
}

.catalog-card-col {
	margin-right:24px;
  display:inline-block;
  vertical-align:top;
}

.catalog-card-education {
	width:150px;
}

.catalog-card-col > span {
	margin-bottom:15px;
}

.catalog-card-btn {
  padding:7px 0;
  padding-bottom:6px;
  margin-bottom:15px; 
  margin-left: 47px; 

  font-size:14px;
  font-weight:normal;
  vertical-align:bottom;

	width:127px;

  background:#adadad;
	color:#fff;
	border:1px solid #397393;
}

.catalog-paginator-container {
	text-align:center;
}

.employers-catalog-paginator {
	min-width:131px;
	padding:0;
	padding-bottom:4px;
	margin:0;
	margin:14px 0;
  margin-bottom:27px;	
	display:inline-block;
	vertical-align:top;

	text-align:center;

	border-bottom:1px solid #336f91;
}

.employers-catalog-paginator li {
	display:inline-block;
	vertical-align:top;
}

.employers-catalog-paginator a {
	font-size:14px;
	text-decoration:none;

	color:#505050;
}

.employers-catalog-paginator .active {
  font-weight:bold;

	color:#004b75;
}


/*Заявка на звонок*/


.application-block {
	background:url("../img/application-block-bg.png") no-repeat center;
}

.application-block-form {
	width:700px;
	padding-top:25px;
	padding-bottom:40px;
	margin:0 auto;
	margin-bottom: 7px;
}

.application-form-title-1 {
	font-size:25px;
	text-align:center;
	text-transform:uppercase;

	color:#fff;
}

.application-form-title-2 {
  margin-bottom:30px;

	font-size:25px;
	text-align:center;
	text-transform:uppercase;

	color:#004b75;
}

.application-block-form input {
	width:260px;
	padding:8px 0;
	padding-left:10px;
	margin-right:18px;
  box-sizing:border-box;

  border:none;
  border-radius:5px;
}

.application-block-form button {
  width:141px;
  padding:8px 0;

  font-size:16px;
  text-transform:uppercase;

  background:#499dcc;
  color:#fff;
  border:none;
  border-radius:5px;
}

.advanced-search-block {
  position:relative;

  padding-top:31px;
  margin-top:-28px;  
  display:none;

	background:#ebe7e7;
	border-radius:5px 0 5px 5px;
}

.advanced-search-block-show {
  display:block;

	/*animation:advanced-search-block 0.5s;
	animation-fill-mode:both;
	animation-timing-function:ease;*/
}

/*@keyframes advanced-search-block {
  from {
  	font-size:0;
  	padding:0;
  }
}*/

.advanced-search-block input[type="text"] {
	width:232px;
	padding:2px 5px;
	padding-bottom:3px;
  box-sizing:border-box;

  border:1px solid #a4a1a1;
  border-radius:5px;
}

.advanced-search-block input:focus {
	outline:none;
}

.advanced-search-block label, 
.advanced-search-block span {	
  position:relative;

  font-size:14px;

  color:#585757;
}

.advanced-search-col-1 {
	width:394px;
	padding-left:6px;
	margin-left:120px;
	float:left;
}

.advanced-search-col-1 input {
	margin-bottom:17px;
  float:right;
}

.advanced-search-col-1 label {
	width:115px;
	float:left;
}

.advanced-search-col-2 {
	width:400px;
	margin-right:120px;
	float:right;
}

.advanced-search-col-2 .advanced-search-row:nth-child(1),
.advanced-search-col-2 .advanced-search-row:nth-child(2) {
	margin-bottom:24px;
}

.advanced-search-col-2 span {
  margin-right:60px;
}

.advanced-search-col-2 label[for="male"] {
	margin-right:34px;
}

.advanced-search-col-2 input[type="checkbox"] {
	display:none;
}

.advanced-search-col-2 input[type="checkbox"] + label::before {
  content:"";

  position:absolute;
  top:0;
  right:-31px;

  width:14px;
  height:14px;
  display:block;

  background:#fff;
  border:1px solid #585757;
}

.advanced-search-col-2 input[type="checkbox"] + label::after {
  content:"";

  position:absolute;
  top:1px;
  right:-29px;

  width:12px;
  height:13px;
  display:none;

  background:url("../img/checkbox-checked.png") no-repeat;
}

.advanced-search-col-2 input[type="checkbox"]:checked + label::after {
  display:block;
}

.advanced-search-col-2 input[type="text"] {
	margin-left:50px;
}


/*Карточка развёрнутая*/


.employers-catalog-card-full {
	position:relative;

  padding-bottom:98px;
  margin-bottom:20px;
	margin-left:20px;
	display:none;

	background:#f2f2f2;
}

.full-card-close {
  content:"Закрыть";

  position:absolute;
  bottom:0;
  right:0;

  width:100px;
  height:50px;
  display:block;

  background:url("../img/checkbox-checked.png") no-repeat 64px 4px;

  cursor:pointer;
}

.full-card-show {
	display:block;

  animation:full-card 2s;
  animation-fill-mode:both;
}

@keyframes full-card {
}

.full-card-title {
  margin:0;
  padding:0;
  padding:9px 0;
  padding-bottom:10px;
  padding-left:207px;
  margin-bottom:12px;  

	font-size:18px;
	text-align:left;
	text-transform:none;

  background:#b9b9b9;
	color:#fff;
}

.full-card-container{
  padding-bottom:4px;
  background: #f2f2f2;
}

.full-card-title .full-card-number {
	margin-right:23px;
  margin-left:500px;
}

.full-card-title .full-card-number,
.full-card-title .full-card-date {
  font-size:14px;

  color:#fff;
}

.full-card-date,
.full-card-number {
	color:#000;
}

.full-card-image {
  position:relative;

	width:160px;
	height:143px;
	padding-left:17px;
	float:left;
}

.full-card-image img {
	width:160px;
	height:160px;
  margin-top:-33px;	
  margin-bottom:12px;
}

.full-card-image::after {
	content:"";

	position:absolute;
	bottom:9px;
  left:8px;

	width:178px;
	height:74px;

	background:url("../img/catalog-image-shadow.png") no-repeat;
}

.full-card-city {
  display:block;

  font-size:15px;
  text-align:center;

  color:#000;
}

.full-card-big-col {
	width:930px;
	margin-right:44px;
	float:right;
}

.employers-catalog-card-full ul {
	padding:0;
	padding-bottom:10px;
	margin:0;
	list-style:none;
}

.employers-catalog-card-full li {
  display:inline-block;
  vertical-align:top;

	font-size:14px;
	font-weight:bold;
	word-wrap:break-word;

	color:#004b75;
}

.employers-catalog-card-full span {
  font-size:14px;
  font-weight:normal;

  color:#000;
}

.full-card-previous-work .previous-work-organization,
.full-card-previous-work .previous-work-function,
.full-card-previous-work .previous-work-start,
.full-card-previous-work .previous-work-end {
	font-weight:normal;
}

.full-card-big-col .full-card-row {
  margin-bottom:12px;

	border-bottom:1px solid #004b75;
}

.full-card-age {
  margin-bottom:28px;

}

.full-card-further-education{
	width:560px;
	margin-left:72px;
}

.full-card-languages {
  width:500px;
  margin-left:160px;
}

.full-card-age,
.full-card-education {
	width:260px;
}

.full-card-specialty {
	margin-bottom:21px;
}

.full-card-previous-work ul {
	padding-left:228px;
  margin-top:-15px;	
}

.full-card-previous-work li {
	display:inline-block;
	vertical-align:top;
}

.previous-work-organization,
.previous-work-function {
	width:280px;
	margin-left:64px;
}

.previous-work-start,
.previous-work-end {
	width:280px;
}




/*Новости и статьи*/


/*Слайдер новостей*/


.news-slider {
  position:relative;

	width:1100px;
	padding-top:55px;
	padding-bottom:61px;
	margin:0 auto;

	text-align:center;
}

.news-slider::after {
	content:"";

	position:absolute;
	bottom:-10px;
	left:50%;
  
  width:1370px;
  height:10px;
  margin-left:-685px;

  background:url("../img/news-slider-item-shadow.png") no-repeat;
}

.news-slider h1 {
	padding:0;
  margin:0;
  margin-bottom:42px;

	font-size:25px;
  text-align:center;
  text-transform:uppercase;

	color:#004b75;
}

.news-slider .owl-item {
	width:336px !important;
}

.news-slider .owl-controls {
	width:100% !important;
}

.news-slider .owl-dots {
	width:100% !important;
  margin-top:75px;
}

.news-slider .owl-prev {
	position: absolute;
  top:84px;
  left:-40px;

  width:28px;
  height:49px;

  font-size:0;

  background:url("../img/news-slider-sprite.png") no-repeat -15px -15px;
}

.news-slider .owl-next {
	position: absolute;
  top:84px;
  right:-40px;

  width:28px;
  height:49px;

  font-size:0;

  background:url("../img/news-slider-sprite.png") no-repeat -73px -15px;
}

.news-slider .owl-dot {
	width:11px;
	height:11px;
  margin-right:30px;	
	display:inline-block;
	vertical-align:top;

	background:#828384;
	border-radius:50%;
}

.news-slider .owl-dot:last-child {
	margin-right:0;
}

.news-slider .owl-dot.active {
	background:#69a495 ;
}

.news-slider .owl-dot.active {
	background:#51829e;
}

.news-slider-item {
  position:relative;

	width:336px;
	display:inline-block;
	vertical-align:top;
}

.news-slider-item a {
	text-decoration:none;
}

.news-slider-item img {
	width:336px;
	height:214px;
	margin-bottom:15px;
}

.news-slider-item h1 {
	padding:0;
	padding-bottom:7px;
  margin:0;
  margin-bottom:4px;  

	font-size:15px;
	text-align:left;

	color:#004b75;
	border-bottom:1px solid #e5e5e6;
}

.news-slider-item p {
  padding:0;
  margin:0;
  margin-bottom:4px;

	font-size:14px;
	text-align:left;

	color:#403b38;
}


/*Блок Статьи*/

.articles-list {
  padding-top:54px;
  padding-bottom:50px;  

	background:#e6e6e6;
}

.articles-list h1 {
  padding:0;
	margin:0;
	margin-bottom:45px;

	font-size:25px;
	text-transform:uppercase;
	text-align:center;

	color:#004b75;
}

.articles-list-item {
	padding-left:40px;
	margin-bottom:12px;

  text-align:right;	
}

.articles-list-item h1 {
	width:640px;
	float:right;
  padding:0;
	margin:0;
  margin-bottom:25px;	

	font-size:15px;
	text-transform:uppercase;
	text-align:left;

	color:#004b75;
}

.articles-list-item img {
	width:440px;
	height:219px;
	float:left;
}

.articles-list-col {
	width:640px;
  float:right;
}

.articles-list-item p {
	width:640px;
	padding:0;
	margin:0;


	font-size:14px;
	text-transform:uppercase;
	text-align:left;

	color:#444545;
}

.articles-list-item-btn {
	width:140px;
	padding:8px 0;
  margin-top:37px;	

	font-size:14px;
}

.articles-list-btn {
	margin-top:45px;
	display:block;
}

.articles-list-btn-close {
	animation:articles-list-btn 1s;
	animation-fill-mode:both;
}

@keyframes articles-list-btn {
  80% {
  	margin:0 auto;
  }

  100% {
    width:0;
    font-size:0;
    padding:0;
    margin:0;
    border:none;
  }
}

.articles-list-btn:hover {
	background:#004b75;
	color:#fff;

	transition:all 0.5s;
}

.articles-list-full {
	display:none;
}

.articles-list-full-show {
  display:block;

  animation:articles-list-full-show 1s;
}

@keyframes articles-list-full-show {
  from {
  	opacity:0;
  }

  to {
  	opacity:1;
  } 
}


/* Для соискателя */


.applicants-navigation-block {
	padding-top:72px;
	padding-bottom:43px;

}

.applicants-navigation-block h1 {
  margin-bottom:58px;	
}

.for-applicants-navigation {
	padding:0;
	margin:0;
	list-style:none;

	font-size:0;
	text-align:center;
}

.for-applicants-navigation li {
	padding:0;
	margin:0;
	display:inline-block;
	vertical-align:top;

	font-size:18px;
}

.for-applicants-navigation a {
  position:relative;
  z-index:10;

  width:272px;
  padding:17px 0;  
  margin-left:20px;
  margin-bottom:19px;
  display:block;

  font-size:18px;
  text-transform:uppercase;
  text-align:center;
  text-decoration:none;

  color:#004b75;
  border:4px solid #004b75;
}

.for-applicants-navigation a:hover {
	background:#fff;

	transition:all 0.3s;
}

.for-applicants-navigation a:active {
	background:#004b75;
	color:#fff;

	transition:none;
}

.for-applicants-navigation li:nth-child(1) a,
.for-applicants-navigation li:nth-child(2) a {
  padding:28px 0;
}

.for-applicants-content {
	padding-top:41px;
}

.for-applicants-content h1 {
  margin-bottom:31px;  

  font-size:25px;
}

.applicants-catalog-row {
  margin-bottom:37px	
}


/* Карточка вакансии */


.applicants-catalog-card {
	width:580px;
  padding-bottom:20px;	
	margin-bottom:20px;
	display:inline-block;
	vertical-align:top;
	margin-left:20px;

	background:#f2f2f2;
}

.applicants-catalog-card h1 {
	padding:8px 0;
  padding-left:32px;
  margin:0;
  margin-bottom:12px;

	font-size:20px;
	text-align:left;
	font-weight:bold;
	text-transform:none;

  background:#ccd8df;
	color:#004b75;
}

.applicants-catalog-card span {
	font-size:15px;
	line-height:24px;

	color:#000;
}

.applicants-catalog-card span > span {
	color:#004b75;
}

.applicants-card-employment {
  width:150px;
  margin-bottom:24px;
  margin-left:32px;
  float:left;

  word-wrap:break-word;
}

.applicants-card-date {
  width:150px;
  margin-left:32px;
  float:right;
}

.applicants-card-adress {
  margin-bottom:24px;	
	margin-left:32px;
	display:block;
}

.applicants-card-salary {
	width:175px;
	margin-left:32px;
	float:left;
}

.applicants-catalog-card .catalog-card-btn {
  margin:0;
  margin-right:25px;  
  float:right;
}


/*Форма размещения резюме*/


.resume-addition-block {
	margin-bottom:15px;
}

.resume-addition-form {
	width:782px;
	padding:16px 35px;
	margin:0 auto;
  display:none;

	text-align:center;

	background:#6db7d7;
	border-radius:5px;
}

.resume-addition-form h1 {
	padding:0;
	margin:0;
	margin-bottom:9px;

	font-size:25px;
	text-transform:uppercase;
	text-align:center;
	font-weight:normal;

	color:#fff;
}

.resume-addition-row {
  padding-top:15px;
  margin-bottom:9px;  

	border-top:1px solid #5f9fbb;
	border-bottom:1px solid #5f9fbb;
}

.resume-addition-col-left,
.resume-addition-col-right {
  padding:0;
  margin:0;
  display:inline-block;
  vertical-align:top;
  list-style:none;
  text-align:right;
}

.resume-addition-col-left {
	margin-right:8px;
}

.resume-addition-form input {
  width:269px;
  padding:4px 10px;
  margin-bottom:15px;
  margin-left:27px;
	box-sizing:border-box;

	border:none;
	border-radius:5px;
	outline:none;
}

.resume-addition-col-right input {
	margin-left:20px;
}

.resume-addition-form p {
  padding:0;
  margin:0;
  margin-bottom:10px;

	font-size:13px;
	text-align:center;

	color:#666666;
}

.resume-addition-form button {
	width:140px;
	padding:8px 0;
	margin:0 auto;

	font-size:16px;
	text-transform:uppercase;

  background:#004b75;
	color:#fff;
	border:none;
	border-radius:5px;
}

.resume-addition-btn {
	width:342px;
	padding:21px 0;
	margin:50px auto;
	display:block;
	box-sizing:border-box;

	font-size:25px;
	text-align:center;
	text-transform:uppercase;
	text-decoration:none;

  background:#3fa0ca;
	color:#fff;
	border-radius:5px;
}


/*Вкансии - развёрнутая карточка*/


.for-applicants-full-card {
  position:relative;

	padding-bottom:30px;
	margin-bottom:20px;
	margin-left:20px;
	display:none;

	word-wrap:break-word;

	background:#f2f2f2;
}

.for-applicants-full-card h1 {
	padding:8px 0;
	padding-bottom:9px;
  padding-left:32px;
  margin:0;
  margin-bottom:11px;

	font-size:20px;
	font-weight:bold;
  text-align:left;
  text-transform:none;

  background:#ccd8df;
	color:#004b75;
}

.for-applicants-date {
	padding-right:35px;
  margin-bottom:16px;	
  display:block;

	font-size:14px;
	line-height:24px;
	text-align:right;

	color:#494949;
}

.for-applicants-full-card-row {
	padding-left:40px;
}

.for-applicants-employment {
	width:200px;
	margin-right:176px;
	float:left;

	font-size:15px;
  line-height:24px;

	color:#000;
}

.for-applicants-employment span {
	color:#004b75;
}

.for-applicants-adress {
	width:350px;
	float:left;

	font-size:15px;
  line-height:24px;

	color:#000;
}

.for-applicants-adress span {
	color:#004b75;
}

.for-applicants-salary {
	width:185px;
	float:right;

	font-size:15px;
  line-height:24px;

	color:#000;
}

.for-applicants-salary span {
  color:#004b75;
}

.applicants-activities-title,
.applicants-requirements-title,
.applicants-responsibility-title {
  padding-left:40px;

	font-size:15px;
	line-height:24px;
	color:#005484;
}

.for-applicants-activities p,
.for-applicants-requirements p,
.for-applicants-responsibility p {
  padding:0;
  padding-left:40px;
  margin:0;

	font-size:15px;
	line-height:24px;

	color:#494949;
}

.for-applicants-activities {
	margin-top:30px;
  margin-bottom:24px;	
}

.for-applicants-requirements {
	margin-bottom:24px;
}

.for-applicants-responsibility {
	width:660px;
}




/*Обучение персонала*/


.teaching-block {
  position:relative;

  padding-top:1px;
  padding-bottom:70px;
	/*background:url("../img/teaching-block-bg.png") no-repeat center;*/
}

.teaching-block-bg {
	position:absolute;
	top:0;

	width:100%;
	height:100%;
}

.teaching-block h1 {
  position:relative;

  padding:0;
  margin:0;
  margin-top:62px;
  margin-bottom:27px;  

	font-size:25px;
	font-weight:normal;
	text-align:center;
	text-transform:uppercase;

	color:#004c77;
}

.teaching-description {
  position:relative;

	width:1032px;
  padding:0 38px;
  margin:0;
  margin-bottom:61px;

	font-size:18px;
	text-align:center;

	color:#004b75;
}

.teacing-promo-block {
  position:relative;

	width:1059px;
	padding-right:2px;
	margin:0 auto;
}

.teacing-promo-steps {
  width:520px;
  padding:0;
	margin:0;
  float:left;

	list-style:none;
}

.teaching-promo-number {
	font-size:25px;
	font-weight:bold;

	color:#004b75;
}

.teacing-promo-steps li {
	margin-bottom:16px;
	padding-left:17px;
	font-size:14px;
	color:#000;
}

.teacing-promo-col {
	width:407px;
	padding-top:9px;
	float:right;
}

.teacing-promo-form {
  width:351px;
  padding:0 28px;
  padding-top:30px;
  padding-bottom:18px;

  text-align:center;

  background:#004b75;
  border-radius:5px;
}

.teaching-form-title {
  padding-bottom:12px;
  margin-bottom:7px;

  font-size:18px;
  font-weight:bold;
  text-transform:uppercase;

  color:#fff;
  border-bottom:1px solid #85a9bd;
}

.teacing-promo-form p {
  padding:0 11px;
  margin:0 0;
  margin-bottom:39px;

	font-size:14px;

	color:#dcd9d9;
}

.teacing-promo-form input {
	width:346px;
	padding:8px 10px;
	margin-bottom:30px;
	box-sizing:border-box;

	border:none;
	outline:none;
	border-radius:5px;
}

.teacing-promo-form input[type="email"] {
	margin-bottom:17px;
}

.teacing-form-btn {
  width:140px;
  padding:9px 0;
  padding-bottom:11px;
  margin:0 0;

  font-size:16px;
  font-weight:normal;

	background:#5788a4;
	color:#fff;
	border-color:#fff;
}




/*Footer*/


.main-footer {
	position:relative;

	padding-top:19px;
	padding-bottom:40px;
	padding-right:33px;

	background:#004b75;
}

.main-footer ul {
	padding:0;
	margin:0;
	list-style:none;
}

.main-footer::before {
	content:"";

	position:absolute;
	top:-15px;

  width:100%;
	height:17px;
	display:block;

	background:url("../img/main-footer-bg-dec.png") no-repeat center;
}

.main-footer-logo {
	width:61px;
	height:59px;
  margin-top:13px;
	margin-right:60px;
	margin-left:16px;
	display:inline-block;
	vertical-align:top;

	background:url("../img/footer-logo.png") no-repeat;
}

.footer-navigation-title{
	padding-top:5px;
	margin-bottom:10px;

	border-bottom:1px solid #80a5ba;
}

.footer-navigation-title,
.footer-navigation-2 a {
	padding-bottom:2px;

	font-size:18px;
	line-height:30px;
	font-weight:bold;
	text-transform:uppercase;
	text-decoration:none;

	color:#fff;
}

.footer-navigation-2 li{
	padding-bottom:0;
}

.footer-navigation-col-1 {
	width:290px;
	display:inline-block;
	vertical-align:top;
	margin-right:30px;
}

.footer-navigation-1 {
	width:132px;
  display:inline-block;
  vertical-align:top;
}

.footer-navigation-1:last-child {
  width:133px;
  margin-left:25px;
}

.footer-navigation-col-2 {
	width:220px;
	display:inline-block;
	vertical-align:top;
	margin-right:39px;
}

.footer-navigation-col-2 .footer-navigation-1 {
	width:100%;
	margin-left:0;
}

.footer-navigation-col-3 {
	width:200px;
	display:inline-block;
	vertical-align:top;
	padding-top:5px;
	margin-right:30px;
}

.footer-navigation-col-1 li,
.footer-navigation-col-2 li {
	margin-bottom:15px;
}

.footer-navigation-col-1 a,
.footer-navigation-col-2 a {
  font-size:14px;
	line-height:16px;
	text-decoration:none;

	color:#dad9d9;
}

.main-footer-contacts {
	width:173px;
	padding-left:45px;
	margin-top:36px;
	display:inline-block;
	vertical-align:top;
}

.footer-contacts-number {
	margin-bottom:6px;

  font-size:18px;
  line-height:30px;
  font-weight:bold;

  color:#fff;
}

.main-footer-btn {
	display:block;
	padding:2px 12px;
	margin-bottom:36px;

	font-size:14px;
  line-height:30px;
  text-transform:uppercase;
  font-weight:bold;
  text-decoration:none;

  background:#6b97af;
  color:#fff;
  border:2px solid #fff;
}

.footer-social-btn {
	width:39px;
	height:39px;
	display:inline-block;

	background:#0f83ce url("../img/footer-social-sprite.png") no-repeat;
	border-radius:50%;
}

.social-btn-vk {
	background-position:-13px -15px;
}

.social-btn-odnoklassniki {
	background-position:-83px -15px;
}

.social-btn-twitter {
	background-position:-152px -15px;
}

.social-btn-fb {
	background-position:-221px -15px;
}


.modal-bg {
  z-index:10;

  width:100%;
  height:100%;
  display:none;

  position:fixed;
  top:0;

	background:#000;
	opacity:0.5;
}

.modal-content-window {
  position:fixed;
  top:50%;
  left:50%;
  z-index:10;

	width:356px;
	padding:0 112px;
	padding-top:30px;
	padding-bottom:38px;
	margin-top:-180px;
	margin-left:-290px;
	display:none;

	text-align:center;

	background:#004b75;
	color:#fff;
	border-radius:5px;
}

.modal-form-title {
  padding-bottom:15px;
  margin-bottom:14px;

	font-size:25px;
  text-transform:uppercase;
  font-weight:bold;
  text-align:center;

	color:#fff;
	border-bottom:1px solid #85a9bd;
}

.modal-content-form p {
  padding:0;
  margin:0;
  margin-bottom:23px;

	font-size:14px;
	text-align:center;

	color:#dcd9d9;
}

.modal-content-form input {
	width:346px;
	padding:8px 8px;
	margin-bottom:29px;
	box-sizing:border-box;

  border:none;
  outline:none;
	border-radius:5px;

	color:#000;
}

.modal-content-form input[type="tel"] {
	margin-bottom:35px;
}

.modal-form-btn {
	width:140px;
	padding:8px 0;

  background:#5788a4;
  color:#fff;
	border:2px solid white;
}

.modal-content-show {
	display:block;
}

.modal-content-close {
	display:none;
}












